@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "URWGeometric";
  src: url("/fonts/URWGeometric/URWGeometric-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "URWGeometric Regular";
  src: url("/fonts/URWGeometric/URWGeometric.otf") format("truetype");
}
@font-face {
  font-family: "URWGeometric Light";
  src: url("/fonts/URWGeometric/URWGeometric-Light.ttf") format("truetype");
}
@font-face {
  font-family: "URWGeometric Medium";
  src: url("/fonts/URWGeometric/URWGeometric-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "URWGeometric SemiBold";
  src: url("/fonts/URWGeometric/URWGeometric-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "URWGeometric Bold";
  src: url("/fonts/URWGeometric/URWGeometric-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Box Icons";
  src: url("/fonts/boxicons.ttf") format("truetype");
}

@font-face {
  font-family: "Drop Icons";
  src: url("/fonts/dripicons.ttf") format("truetype");
}

@font-face {
  font-family: "Fabrands";
  src: url("/fonts/fabrands.ttf") format("truetype");
}

@font-face {
  font-family: "Material Design Icons";
  src: url("/fonts/materialdesignicons.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("/fonts/Roboto-Thin.ttf") format("truetype");
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --tw-drop-shadow-color: rgb(0, 0, 0);
}

html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: "Roboto", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 'Inter', "Helvetica Neue", sans-serif;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

.paypal-button-label-container > img {
  display: none !important;
}

@import url("./calendar/index.css");

textarea {
  resize: none;
}

.react-tel-input .form-control {
  width:100% !important;
}